body{

    font-family: 'Raleway', sans-serif;
    height: 100%;
}


.col-sm-4{
  margin-top: 50px;
}


.navbar-nav{
  
    margin-left: 45%;
   
 
 }
 
 .navbar-nav li a{
     margin-right:10px;
 }
 
 .navbar-nav .nav-item{
     font-size: 20px;
     color: white;
 }

 .educational-info{
    font-size: 22px;
 }

.container{
    margin-top: 50px;
}

.card{
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    transition: transform 0.5s; /* Smoothly animate the transformation */
}



.button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  text-decoration: none;
  color: black;
}

.button:active {
  background: var(--color);
  color: #fff;
}



footer {

    position: relative;
    bottom: 0;
  }


.footer {
    margin-top: 10%;
    color: #fff;
    padding: 20px;
   
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0; /* Position it at the bottom of the page */
    width: 100%; /* Full width */
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; /* Adjust margin as needed */
  }


/* Responsive Styles */
@media (max-width: 768px) { /* For tablets and smaller devices */
    .card {
        width: 100%;
    }
}

@media (max-width: 576px) { /* For phones and smaller devices */
    .navbar-nav {
        flex-direction: column; /* Stack nav items vertically */
    }

    .navbar-collapse {
        background-color: #343a40; /* Darken the navbar background color */
    }

    .card {
        width: 100%;
    }
    footer {

      position: relative;
      bottom: 0;
    }
  
}


@media (max-width: 1200px) {
  #card {
    width: 18rem !important;
    height: 20rem !important;
  }

  #image{
    height: 150px !important;
  }

  .nav-item a{
    font-size: 15px;
  }


  .navbar-nav{
  
    margin-left: 40%;
   
 
 }

 h5{
  font-size: 18px;
}

h6{
  font-size: 15px;
}

p{
  font-size: 13px;
}
}

@media (max-width: 992px) { /* For small desktops and tablets */
    .card {
        width: 50%;
    }
    #card {
      width: 13rem !important;
      height: 18rem !important;
    }
  
    #image{
      height: 100px !important;
    }

    .nav-item a{
      font-size: 13px;
    }

    .navbar-nav{
  
      margin-left: 30%;
     
   
   }


   h5{
    font-size: 13px;
  }

  h6{
    font-size:10px;
  }

  p{
    font-size: 10px;
  }
   
}



