body{

    font-family: 'Raleway', sans-serif;
}


.navbar-nav{
  
    margin-left: 45%;
   
 
 }
 
 .navbar-nav li a{
     margin-right:10px;
 }
 
 .navbar-nav .nav-item{
     font-size: 20px;
     color: white;
 }

 .educational-info{
    font-size: 22px;
 }

.container{
    margin-top: 50px;
}

.card{
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    transition: transform 0.5s; /* Smoothly animate the transformation */
}

.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.button:hover{
    text-decoration: none;
    color: white;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  text-decoration: none;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  text-decoration: none;
}



footer {

  position: relative;
  bottom: 0;
}


.col-sm-4{
  margin-top: 50px;
}


.footer {

  color: #fff;
  padding: 20px;
 
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0; /* Position it at the bottom of the page */
  width: 100%; /* Full width */
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px; /* Adjust margin as needed */
}


  @media (max-width: 768px) { /* For tablets and smaller devices */
    .card {
        width: 100%;
    }

    h3 {
        font-size: 1.5rem; /* Decrease font size for headings */
    }
}

@media (max-width: 576px) { /* For phones and smaller devices */
    .navbar-nav {
        flex-direction: column; /* Stack nav items vertically */
    }

    .navbar-collapse {
        background-color: #343a40; /* Darken the navbar background color */
    }

    .card {
        width: 100%;
    }

    footer {

      position: relative;
      bottom: 0;
    }
}


@media (max-width: 1200px) {
  #card {
    width: 18rem !important;
    height: 20rem !important;
  }

  #image{
    height: 150px !important;
  }

  .nav-item a{
    font-size: 15px;
  }


  .navbar-nav{
  
    margin-left: 40%;
   
 
 }
}

@media (max-width: 992px) { /* For small desktops and tablets */
    .card {
        width: 50%;
    }
    #card {
      width: 13rem !important;
      height: 18rem !important;
    }
  
    #image{
      height: 100px !important;
    }

    .nav-item a{
      font-size: 13px;
    }

    .navbar-nav{
  
      margin-left: 30%;
     
   
   }
   
}




