body{

    font-family: 'Raleway', sans-serif;
}


.navbar-nav{
  
    margin-left: 45%;
   
 
 }
 
 .navbar-nav li a{
     margin-right:10px;
 }
 
 .navbar-nav .nav-item{
     font-size: 20px;
     color: white;
 }

 .container{
    font-size: 22px;
    margin-top: 50px;

 }


 b{
    font-size: 25px;
 }


 footer {
    position: relative;
    bottom: 0;
    margin-top: 50px
  }


.footer {

    color: #fff;
    padding: 20px;
   
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0; /* Position it at the bottom of the page */
    width: 100%; /* Full width */
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; /* Adjust margin as needed */
  }


 /* Responsive Styles */
@media (max-width: 768px) { /* For tablets and smaller devices */
  .card {
      width: 100%;
  }
}

@media (max-width: 576px) { /* For phones and smaller devices */
  .navbar-nav {
      flex-direction: column; /* Stack nav items vertically */
  }

  .navbar-collapse {
      background-color: #343a40; /* Darken the navbar background color */
  }

  .card {
      width: 100%;
  }
  footer {

    position: relative;
    bottom: 0;
  }

}



@media (max-width: 1200px) {

  .nav-item a{
      font-size: 15px;
    }
  
  
    .navbar-nav{
    
      margin-left: 40%;
     
   
   }


}

@media (max-width: 992px) { /* For small desktops and tablets */
  .card {
      width: 50%;
  }


  .nav-item a{
    font-size: 13px;
  }

  .navbar-nav{

    margin-left: 30%;
   
 
 }
}


