<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Experiences</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/experiences.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:home' %}" target=”_blank” >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'education:education' %}" target=”_blank” >Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'experiences:experiences' %}" target=”_blank” >Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'research:research' %}" target=”_blank” >Research</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="{% url 'skills:skills' %}" target=”_blank”  >Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'interests:interests' %}" target=”_blank”>Interests</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts:contacts' %}" target=”_blank”>Contacts</a>
        </li>
      </ul>
   </div>
  </nav>
    <div class="container">

        <h1>My Work Experiences</h1>
        <br>
       
        <br>
        <br>
        <div class="experiences">
            <h3>Tech Experiences</h3>
            <br>
            <div class="developer-experiences">
        <div class="row">
          {%for experience in experiences%}
          {% if experience.type == 'tech'%}
                <div class="col-sm-4">
                      <div class="card" style="width: 18rem; height: 25rem;">
                          <img class="card-img-top" height="250px" src="{{experience.image.url}}" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">{{experience.organization_name}}</h5>
                            {%if experience.present%}
                            <h6>{{experience.startdate}} - Present</h6>
                            {%else%}
                            <h6>{{experience.startdate}} - {{experience.enddate}}</h6>
                            {%endif%}
                            <p class="card-text">{{experience.job_title}}</p>
                            <a href="{% url 'experiences:experience_detail' slug=experience.slug %}" class="button">More...</a>
                          </div>
                        </div>
                      
                </div>
                {%endif%}
        {%endfor%}
          </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <h3>Mentoring Experiences</h3>
        <br>
        <div class="mentoring-experiences">
          <div class="row">
            {%for experience in experiences%}
            {% if experience.type == 'mentor'%}
                  <div class="col-sm-4">
                        <div class="card" style="width: 18rem; height: 25rem;">
                            <img class="card-img-top"  height="250px" src="{{experience.image.url}}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{experience.organization_name}}</h5>
                              <p class="card-text">{{experience.job_title}}</p>
                              <a href="{{experience.slug}}" class="button">More...</a>
                            </div>
                          </div>
                        
                  </div>
                  {%endif%}
          {%endfor%}
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <h3>Social Experiences</h3>
    <br>
    <div class="social-experiences">
      <div class="row">
        {%for experience in experiences%}
        {% if experience.type == 'social'%}
              <div class="col-sm-4">
                    <div class="card" style="width: 18rem; height: 25rem;">
                        <img class="card-img-top"  height="250px" src="{{experience.image.url}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{experience.organization_name}}</h5>
                          <p class="card-text">{{experience.job_title}}</p>
                          <a href="{{experience.slug}}" class="button">More...</a>
                        </div>
                      </div>
                    
              </div>
              {%endif%}
      {%endfor%}
        </div>
        <br>
        <br>
        
</div>
    </div>
</div>
<footer class="footer bg-dark navbar-dark">

    <p>Developed by<strong><a href="">Farhad Aghayev</a></strong>.   &copy; All Rights Reserved</p> 


</footer>
    
</body>
</html>