<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:home' %}" target=”_blank” >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'education:education' %}" target=”_blank” >Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'experiences:experiences' %}" target=”_blank” >Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'research:research' %}" target=”_blank” >Research</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="{% url 'skills:skills' %}" target=”_blank”  >Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'interests:interests' %}" target=”_blank”>Interests</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts:contacts' %}" target=”_blank”>Contacts</a>
        </li>
      </ul>
   </div>
  </nav>

  <div class="container">
    <h2>You can reach me in these platforms</h2>
  
    <i class="fa fa-solid fa-envelope"></i> <a href="mailto:{{contacts.email}}">{{contacts.email}}</a>
    <br>
    <i class="fa fa-linkedin"></i> <a href="{{contacts.linkedln_url}}">{{contacts.linkedln_username}}</a>
    <br>
    <i class="fa fa-facebook"></i> <a href="{{contacts.facebook_url}}">{{contacts.facebook_username}}</a>
    <br>
    <i class="fa fa-instagram"></i> <a href="{{contacts.instagram_url}}">{{contacts.instagram_username}}</a>
    <br>
    <i class="fa fa-twitter"></i> <a href="{{contacts.twitter_url}}">{{contacts.twitter_username}}</a>
  
    <br>
    <i class="fa fa-github"></i> <a href="{{contacts.github_url}}">{{contacts.github_username}}</a>
    
    <br>
    <i class="fa fa-brands fa-medium"></i> <a href="{{contacts.medium_url}}">{{contacts.medium_username}}</a>

    <br>
    <br>
    <br>

    Feel free to contact me anytime.
 
  </div>


  <footer class="footer bg-dark navbar-dark">

    <p>Developed by<strong><a href="">Farhad Aghayev</a></strong>.   &copy; All Rights Reserved</p> 


</footer>
    
</body>
</html>